@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --clr-white: #ffffff;
    --clr-blue: #1992d4;
    --clr-gray: #e2e8f0;
    --clr-dark-gray: #636363;
    --clr-yellow: #f0b429;
    --clr-box-shadow: rgba(0, 0, 0, 0.2);

    --w-ic-branding: 42px;
    --w-ic-nav: 24px;

    --br-card: 8px;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
    grid-template-columns: minmax(220px, 1fr) 6fr;
    grid-template-rows: 1fr 5fr;
    height: 100svh;
}

.header {
    background-color: var(--clr-white);
    box-shadow: 0px 3px 8px var(--clr-box-shadow);
    grid-area: header;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 3rem;
    column-gap: 3rem;
    row-gap: 2rem;
}

.user-profile__notification,
.search__icon {
    width: var(--w-ic-nav);
    min-width: var(--w-ic-nav);
}

.search {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    align-items: center;
}

.search__bar {
    background-color: var(--clr-gray);
    border: none;
    border-radius: 1em;
    padding: 0.1rem 1rem;
}

.search__bar:focus {
    outline: 1px solid black;
}

.user-profile {
    justify-content: end;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
}

.user-profile__img {
    width: var(--w-ic-branding);
    border-radius: 50%;
}

.user-profile__name {
    font-weight: bold;
}

.user-info {
    justify-content: start;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.user-info__img {
    width: 64px;
    min-width: 64px;
    border-radius: 50%;
}

.user-info__greeting {
    font-size: 0.8rem;
}

.user-info__name {
    font-size: 1.4rem;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 2.5rem;
    align-items: stretch;
    justify-content: end;
    align-self: center;
    gap: 1.5rem;
}

.action-buttons > button {
    background-color: var(--clr-blue);
    border-radius: 2rem;
    border: none;
    color: var(--clr-white);
    font-weight: bold;
}

.sidebar {
    background-color: var(--clr-blue);
    grid-area: sidebar;
    padding: 1rem;
}

.branding,
.nav__primary,
.nav__misc {
    align-items: center;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: var(--w-ic-branding) 1fr;
}

.branding {
    margin-bottom: 3rem;
}

.branding__icon {
    min-width: var(--w-ic-branding);
}

.branding__text {
    color: var(--clr-white);
}

.branding__icon,
.nav__icon {
    aspect-ratio: 1 / 1;
    /* Change svg color from black to white 
     Note: svg has to be black for this to work */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(228deg) brightness(102%) contrast(102%);
}

.nav__primary,
.nav__misc {
    row-gap: 1rem;
}

.nav__primary {
    margin-bottom: 3rem;
}

.nav__icon {
    width: var(--w-ic-nav);
    min-width: var(--w-ic-nav);
    justify-self: center;
}

.nav__link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-white);
}

.main-content {
    background-color: var(--clr-gray);
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'project announce'
        'project trending';
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 3.5rem;
    padding-right: 2rem;
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.main-content h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.main-content p {
    color: var(--clr-dark-gray);
}

.card {
    background-color: var(--clr-white);
    border-radius: var(--br-card);
    box-shadow: 2px 2px 5px var(--clr-box-shadow);
}

.project {
    grid-area: project;
    display: grid;
    grid-template-rows: auto 1fr;
}

.project__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.project__card {
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.project__card::before {
    content: '';
    background-color: var(--clr-yellow);
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    border-top-left-radius: var(--br-card);
    border-bottom-left-radius: var(--br-card);
}

.project__desc {
    margin-bottom: 1rem;
}

.project__buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 1.5rem;
}

.project__buttons button {
    background-color: var(--clr-white);
    border: none;
    padding: 0;
}

.project__buttons img {
    width: var(--w-ic-nav);
    min-width: var(--w-ic-nav);
    /* Change svg color from black to #333333 */
    /* Note: svg has to be black for this to work */
    filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(87%) contrast(86%);
}

.announce {
    grid-area: announce;
}

.announce__container {
    padding: 2rem;
    display: grid;
    gap: 1em;
}

.announce__container hr {
    border: 1px solid var(--clr-gray);
}

.announce__link {
    text-decoration: none;
    color: inherit;
}

.announce__title {
    font-size: 0.9rem;
}

.announce__desc {
    font-size: 0.8rem;
}

.trending {
    grid-area: trending;
}
